	
	
	.boxContent {
		margin: 0px auto;
		padding: 10px;
		border-radius: 4px;
		border: 1px solid #D8DDE6;
		color: #16325c;
		background-color: whitesmoke;
	}
	
	#boxLogin {
		width: 250px;
	}
	
	#content, #header {
		width: 60%;
	}
	
	body, input, .text, .button {
		font-family: SFS, Arial, sans-serif;
		background-color: #e6f2ff;
		font-size: 12px;
	}
	table {
		font-family: SFS, Arial, sans-serif;
		font-size: 12px;
	}
	.text {
		padding: 8px;
	   width: 95%;
	   margin-top: 8px;
	   margin-bottom: 8px;
	   background-color: white;
	   border:0;
	}
	
	.date {
		padding: 8px;
	   width: 110px;
	   margin-top: 8px;
	   margin-bottom: 8px;
	   background-color: white;
	   border:0;	   
	}
	
	.largefont {
		font-size: 16px;
	}
	
	
	table {
		width: 240px;
	}
	
	.button    {
		background-color: #0066ff;
		color: white;
		font-weight: bold;
		padding: 5px;
		box-shadow: none;
		border: 0;
	}         
		
	#btnlogin {
		width: 100%;
	}